.try-it {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: space-between;
}

@media (min-width: 1400px){
  .try-it {
    height: 450px;
  }
}
@media (max-width: 1400px) and (min-width: 600px) {
  .try-it {
    height: 100px;
  }
}

@media (max-width: 600px) {
  .try-it {
    margin: auto;
    height: 200px;
  }
}

.upload {
  display: flex;
  flex-direction: row;
}
