:host app-root {
  background-color: black;
}

app-photos-compare{
  position: absolute; /* postulat de départ */
  top: 200px; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, 0px); /* décalage de 50% de sa propre taille */
}

app-try-it{
  position: absolute;
  top: 200px;
  left: 56px;
}
